<div class="box-row" fxLayout="row" fxLayoutAlign="center center">
    <div class="box">
        <app-widget-area></app-widget-area>
    </div>
</div>
<div class="box-row" fxLayout="row" fxLayoutAlign="space-between stretch">
    <div fxFlex="20" fxLayoutAlign="stretch center">
        <div class="box">
            <div class="row" >
                <div class="column">
                    <p> أعداد شوارع جدة</p>
                </div>
                <div class="column">
                    <p> 1383  رئيسي</p>
                    <p> 48544  فرعي</p>
                </div>
            </div>
            <div class="row">
                <div class="column1">
                    <p> مساحات الشوارع /م2</p>
                </div>
                <div class="column1">
                    <p> 36977747 رئيسي</p>
                    <br>
                    <p> 87674150 فرعي</p>
                </div>
            </div>
            <div class="row">
                <div class="column2">
                    <p> أطوال الشوارع /كيلو</p>
                </div>
                <div class="column2">
                    <p> 10103.5 رئيسي</p>
                    <br>
                    <p> 7160.8 شارع</p> 
                </div>
            </div>
        </div>
    </div>
    <div fxFlex="30">
        <div class="box">
            <app-widget-pie [data]="pieStatusdata"></app-widget-pie>
        </div>
    </div>
    <div fxFlex="30">
        <div class="box">
            <app-widget-pie [data]="pieStatusdata2"></app-widget-pie>
        </div>
    </div>
</div>
