.box {
    border-radius: 25px;
    background:#b3b9c7;
    padding: 20px; 
    width: fit-content;
    height: fit-content;  
  }
  th
  {
    border-radius: 10px; width: 30px;height: 30px;text-align:center;
  }
  td{
    border-radius: 10px; width: 40px;padding:20px;
  }