<mat-nav-list>
    <div class="profile-card">
      
    </div>
<ul>
   <li class="active" ><h2 matsubheader><i class="fa fa-fw fa-home"></i>معدل الإنتاجية</h2></li>

   <li> <a mat-list-item routerLinkActive="list-item-active" routerLink="/">المسح الحالي</a></li>
   <!-- <li><a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">المسحة الثانية</a></li>> -->
    

    <h2 matsubheader><i class="fa fa-fw fa-home"></i>أوامر العمل</h2>
  
    <li> <a mat-list-item routerLinkActive="list-item-active" href="http://pmms.jeddah.gov.sa:8090/ASPX/Security/Login.aspx"  target="_blank"> نظام الرصف الأسفلتي </a></li>
    <li><a mat-list-item routerLinkActive="list-item-active" href="http://pmmsstg.jeddah.gov.sa:8888/" target="_blank">إصدار أوامر العمل</a></li>
    <li><a mat-list-item routerLinkActive="list-item-active" href="http://pmms.jeddah.gov.sa:8080/ASPX/WorkOrders/LoginWorkOrders.aspx" target="_blank"> إتمام أوامرالعمل </a></li>
    

    <h2 matsubheader><i class="fa fa-fw fa-home"></i>لوحة التحكم</h2>
 
    <li> <a mat-list-item routerLinkActive="list-item-active"  href="https://pmmsdb.jeddah.gov.sa/portal/apps/webappviewer/index.html?id=9257559e478b433487138c7a55bdae5a" target="_blank">أوامر العمل</a></li>
    <li><a mat-list-item routerLinkActive="list-item-active" href="https://pmmsdb.jeddah.gov.sa/portal/apps/webappviewer/index.html?id=ddaac6f7541d44a9a266e790d5116455&locale=AR" target="_blank" > حالات الشوارع </a></li>
    <li><a mat-list-item routerLinkActive="list-item-active"  href="https://pmmsdb.jeddah.gov.sa/portal/apps/opsdashboard/index.html#/bb24b542ada44a3191d84258b71e3fb7" target="_blank">معدلات الأداء</a></li>
</ul>
</mat-nav-list>