:host{
    .mat-icon{
        vertical-align: middle;
        margin-right: 20px;
    }
}
.profile-card{
    text-align: center;
    padding:0px;
    img{
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 20%;
    }
}
mat-nav-list{
    padding-top:0px;
    height: 100%;
    overflow: hidden;
    background-color: #f1f1f1;
}
.text{
    font-size: large;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:inherit;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 0px 8px;
    text-decoration: none;
  }
  
  h2 {
    background-color:#113483;
    color: white;
    margin-bottom: 0;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(97, 158, 160);
    color: white;
  }