<mat-toolbar  style="height:30%px;padding-right: 20px; 
border-bottom: slategray;background:linear-gradient(0deg,#fff,#d5d5d5 75%);border-bottom: groove;">

    <mat-toolbar-row style="height: 30%;">
        <img class="logo" src="assets/logo.png" alt="amanah jeddah logo" />
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>
        
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap=20px  fxLayoutAlign="center center">
                <li>
              
                        <span><a href="https://www.jeddah.gov.sa/index.php" target="_blank">الخدمات الإلكترونية</a>  | أمانة محافظة جدة</span>
                    
                </li>
               <!--  <li>
                    <button mat-icon-button>
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </li> -->

            </ul>
        </div>
    </mat-toolbar-row>

</mat-toolbar>
