
<!--  <app-widget-area [data]="bigChart">
    </app-widget-area> -->
<div>
    <app-widget-stat>
    </app-widget-stat>
</div>
<hr>
<!--
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="25">
        <app-widget-card label="New Users" total="12k" [data]="cards" percentage="50" ></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Users retention" total="10k" [data]="cards" percentage="40" ></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Users engagement" total="8k" [data]="cards" percentage="30" ></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Referral" total="6k" [data]="cards" percentage="20"></app-widget-card>
    </mat-card>
</div>
-->
<!--
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
    <div fxFlex="20">
        <app-widget-pie [data]="piechart1" [value]="value[0]" [label]="label[0]">Pie Chart</app-widget-pie>
    </div>
    <div fxFlex="20">
        <app-widget-pie [data]="piechart2" [value]="value[1]" [label]="label[1]">Pie Chart</app-widget-pie>
    </div>
    <div fxFlex="20">
        <app-widget-pie [data]="piechart3" [value]="value[2]" [label]="label[2]">Pie Chart</app-widget-pie>
    </div>
    <div fxFlex="20">
        <app-widget-pie [data]="piechart4" [value]="value[3]" [label]="label[3]">Pie Chart</app-widget-pie>
    </div>
</div>
-->