<mat-divider></mat-divider>
<hr>
<footer>
   
   <div style="text-align: center;">
      <div class="footer-ribbon">
         <span>لنبقى على تواصل</span>
      </div>
      <ul>
         <a class="fa fa-facebook" href="https://www.facebook.com/JeddahAmanah" target="_blank" title="Facebook"></a>
         <a class="fa fa-twitter" href="https://twitter.com/jeddahamanah" target="_blank" title="Twitter"></a>
         <a class="fa fa-youtube" href="http://www.youtube.com/JeddahAmanah" target="_blank" title="Youtube"></a>
         <a class="fa fa-instagram" href="http://instagram.com/jeddahamanah" target="_blank" title="instagram"></a>
         <a class="fa fa-snapchat-ghost" href="https://www.snapchat.com/add/jeddahamanah" target="_blank"
            title="snapchat"></a>
         <a class="fa fa-linkedin" href="https://www.linkedin.com/company/498748" target="_blank" title="linkedin"></a>
      </ul>
   </div>

   <div class="col-md-4">
      <p class="copyright">© جميع حقوق الطبع والنشر محفوظة لدى أمانة محافظة جدة 2020 م</p>
   </div>


</footer>