:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}
mat-drawer{
width: 350px;
background: linear-gradient(0deg,#fff,#d5d5d5 75%);
}
mat-drawer-container {
    height: 100%;
    padding: 0;
}
mat-drawer-content{
    background: linear-gradient(180deg,#fff 0%, #fff 60%,#d5d5d5 100%);
    padding: 20px;
}
